
:root{
    /* Font-size query small*/
    --s-font-nav: 12px;
    --s-font-h1: 25px;
    --s-font-h0: 30px;
    --s-font-p: 15px;
    --s-font-banner: 50px;

    /* Font-size query medium*/
    --m-font-nav: 20px;
    --m-font-h1: 30px;
    --m-font-h0: 35px;
    --m-font-p: 20px;
    --m-font-banner: 55px;
}

/* ============VIEWPORT QUERY SMALL (PHONE)============*/
@media screen and (max-width:767px) {

    /* NORMALIZE SECTION QUERY */
    section {
        padding: 8rem 1rem 1rem;
    }

    /* ============Query HEADER============*/
    .logo img {
        width: 60px;
    }
    .navbar {
        padding-right: 1rem;
    }
    .navbar a {
        font-size: var(--s-font-nav);
    }


    /* ============Query HOME============*/
    .home {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        gap: 50px;
    }

    .home__content {
        width: 80%;
    }

    .home__img img {
        width: 50vw;
    }

    .home h1,
    .home span {
        font-size: var(--s-font-h1);
    }

    .home p {
        font-size: var(--s-font-p);
    }

    .home__media {
        text-align: center;
    }

    /* ============Query BANNERS============*/
    #banner {
        height: 50vh;
    }
    
    #intro-banner {
        padding: 2rem 1rem 1rem;
        height: auto;
    }

    .banner__title h1 {
        font-size: var(--s-font-banner);
    }

    .banner__intro h2 {
        font-size: var(--s-font-h0);
    }

    .banner__intro p {
        font-size: var(--s-font-p);
    }

    /* ============Query ABOUT============*/
    .about__team {
        height: auto;
        grid-template-columns: 1fr;
    }

    .about__cards {
        width: 60%;
        height: 350px;
    }

    .about__cards > i {
        font-size: 35px;
    }

    .about__cards h3 {
        font-size: var(--s-font-h0);
    }

    .about__cards-btn{
        width: 90%;
        height: 2.5rem;
        border-radius: 15px;    
    }

    .about__cards-btn i {
        font-size: var(--s-font-h0);
    }


    /* ============Query CONTACT============*/

    .location__content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .location__content > img {
        width: 45vw;
        grid-column: span 2;
        margin: 0 auto;
    }
    
    .location__text-1,
    .location__text-2 {
        text-align: center;
    }

    .location__text-2{
        grid-column: span 2;
    }

    .location__content iframe {
        width: 90%;
        height: 250px;
        grid-column: span 2;
        margin: 0 auto;
    }

    #contact__form {
        height: auto;
    }
    .form {
        grid-template-columns: 1fr;

    }

    .form__msn,
    .form__textarea,
    .form__group-btn-submit {
        grid-column: 1;
    }

    .form__btn {
        width: 100%;
    }

    /* ============Query SERVICES============*/
    
    .project__services-2 .project__area {
        order: 1;
    }

    .project__services-2 img {
        order: 2;
    }

    .project__services-1,
    .project__services-2 {
        flex-direction: column;
    }

    .project__services-1 img {
        width: 300px;
        height: 150px;
    }
    .project__services-2 img {
        width: 300px;
    }

    .project__area h2 {
        font-size: var(--s-font-h0);
    }

    .project__area p {
        font-size: var(--s-font-p);
    } 

    /* ============Query Section Shop============*/
    
    #shop h1 {
        font-size: var(--s-font-h1);
    }

    #app {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .shop__cards {
        margin: 0 auto;
        width: 80%;
        height: 500px;
    }
    
    .shop__cards h2{
        font-size: 20px;
    }

    .shop__cards p {
        font-size: 15px;
    }

    /* ============Query FOOTER============*/
    .footer__btn {
        right: 15px;
    }

}


/* ============VIEWPORT QUERY MEDIUM (TABLET)============*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    
    /* ============Query HEADER============*/
    .navbar a {
        font-size: var(--m-font-nav);
    }

    /* ============Query HOME============*/
    .home__img img {
        width: 40vw;
    }

    .home h1,
    .home span {
        font-size: var(--m-font-h1);
    }

    .home p {
        font-size: var(--m-font-p);
    }

    /* ============Query BANNERS============*/
    #banner {
        height: 50vh;
    }
    
    #intro-banner {
        padding: 1rem;
        height: auto;
    }

    .banner__title h1 {
        font-size: var(--m-font-banner);
    }

    .banner__intro h2 {
        font-size: var(--m-font-h0);
    }

    .banner__intro p {
        font-size: var(--m-font-p);
    }

    /* ============Query ABOUT============*/

    .about__cards {
        width: 100%;
        height: 400px;
    }

    .about__cards > i {
        font-size: 40px;
    }

    
    .about__cards h3 {
        font-size: var(--m-font-h0);
    }

    .about__cards-btn{
        width: 50%;
        height: 2.5rem;
        border-radius: 15px;    
    }
    
    .about__cards-btn i {
        font-size: var(--m-font-h0);
    }

    /* ============Query CONTACT============*/

    
    .location__content > img {
        width: 35vw;
    }
    
    .location__content iframe {
        height: 250px;
    }
    /* ============Query SERVICES============*/
    
    #project {
        gap: 50px;
    }

    .project__services-2 .project__area,
    .project__services-1 .project__area {
        order: 1;
    }

    .project__services-2 img {
        order: 2;
    }

    .project__area h2 {
        font-size: var(--m-font-h0);
    }

    .project__area p {
        font-size: var(--m-font-p);
    } 

    /* ============Query Section Shop============*/
    #shop h1 {
        font-size: var(--m-font-h1);
    }

    .shop__cards h2{
        font-size: 25px;
    }

}