
/* MEDIAQUERY EXTRA SMALL DEVICES (600px and down) */
@media (max-width: 412px){ 
    section{
        min-height: 100vh;
        padding: 8rem 3% 2rem;
    }
    /* media header */
    .header{
        height: 15vh;
    }

    .content-logo{
        width: 40vw;
        margin-top: 25px;
    }
    .content-logo img,
    .content-logo a{
        width: 50px;
        height: 50px;
        font-size: 15px;
    }
    .navbar a {
        font-size: 20px;
    } 

    /* media home */
    .home{
        display: grid;
        text-align: center;
    }
    .home-img img{
        width: 250px;
    }
    .social-media a{
        width: 50px;
        height: 50px;
    }
    .content-home h1{
        font-size: 25px;
    }
    
    /* media location */
    #location{
        height: 120vh;
    }

    .location-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "img img"
        "text-1 text-1";
        gap:0;
    }
    .location-img img {
        grid-area: img;
        margin: 0 auto;
        width: 250px;
    }
    .location-text-1,
    .location-text-2{
        width: 100%;
        text-align: center;        
    }
    .location-text-1 ul li{
        text-align: center;
        list-style: none;
    }

    

    .content-location iframe{
        width: 200px;
    }

    .location-text-2 {
        font-size: 15px;
    }

    /* media about */
    #about{
        height: 140vh;
    }
    .content-about {
        grid-template-columns: none;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
    }

    .cards {
        height: 35vh;
    }
    .cards i,
    .cards h1{
        font-size: 25px;
    }
    .cards p{
        font-size: 13px;
    }

    /* media footer */
    .footer-social h3{
        font-size: 13px;
    }
    .btn-footer{
        right: 15px;
    }

}

/* MEDIAQUERY SMALL DEVICES (600px and up)*/
@media only screen and (max-width: 413px){

}

/* MEDIAQUEY MEDIUM DEVICES (768px and up) */
@media only screen and (min-width: 768px){

}