@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* normalize document*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth; /* transicion entre secciones*/
    /* outline: none; */
    font-family: 'Poppins', sans-serif;
}


/* var */
:root{
    --bg-color: #1f242d;
    --bg-alt-color: #323946;
    --nd-bg-color: #AFD3E2;
    --text-color: #fff;
    --nd-text-color: #AFD3E2;
    --th--text-color: #C1666B;
    /*
    --nd-bg-color: #23B5D3;
    */
}


/* normalize body */
body{
    width: 100%;
    height: 100vh;
}

/* ============DESIGN HEADER============*/
.header{
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 100;
}

.content-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-logo > img {
    height: 10vh;
    border-radius: 50%;
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--nd-bg-color);
    cursor: default;
}

.navbar a {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: var(--text-color);
    transition: .3s;
}

.navbar a:hover/*,
.navbar a.active*/{
    color: var(--nd-text-color);
}

/* normalize section's */
section{
    min-height: 100vh;
    padding: 8rem 9% 2rem;
}

/* DESIGN HOME*/
#home{
    width: 100%;
    height: 100vh;
    background-image: url(../media/bg-web-b.jpg);
    background-size: cover;
    background-position: center;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-home h1{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 900;
    line-height: 2.5;
}

span {
    color: var(--nd-text-color);
}

.content-home p {
    color: var(--text-color);
    font-weight: 500;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    /* background-color: transparent; */
    border: .2rem solid var(--nd-text-color);
    border-radius: 50%;
    color: var(--nd-bg-color);
    margin: .5rem;
    transition: .5s ease;
}

.social-media a:hover{
    background-color: var(--nd-text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--nd-text-color);
}


.social-media a i {
    font-size: 2rem;
}

.home-img > img {
    width: 25vw;
    border-radius: 10%;
    box-shadow: 0 0 1rem var(--bg-color);
}


/* ============DESIGN LOCATION============ */
#location{
    width: 100%;
    height: 100vh;
    background-color: #1f242d;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.location-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}
.content-location {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.location-text-1,
.location-text-2{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    color: var(--text-color);
    font-weight: 500;
}

.location-text-1 > ul,
.location-info {
    text-align: start;
}

.location-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.location-info > i {
    color: var(--th--text-color);
}

.location-img img {
    width: 25vw;
}

.content-location iframe {
    width: 50vw;
    height: 23vh;
}

/* ============DESIGN ABOUT============ */

#about {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-alt-color);
}

.content-about {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1rem;
}

.cards {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    padding: .5rem;
    height: 50vh;
    border: .1rem solid var(--nd-bg-color);
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: .3s ease;
}

.cards:hover {
    background-color: var(--bg-color);
    transform: translateY(-2rem);
    box-shadow: 0 0 .5rem .3rem var(--nd-bg-color);
}


.cards > i {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.cards h1 {
    font-size: 2.2rem;
    color: var(--nd-bg-color);
    font-weight: 900;
}

.cards p {
    color: var(--text-color);
    font-weight: 500;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--nd-text-color);
    border-radius: 50%;
    color: var(--nd-bg-color);
    margin: .5rem;
    transition: .5s ease;
}

.btn:hover{
    background-color: var(--nd-text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--nd-text-color);
}
.btn i {
    font-size: 2.2rem;
}

/* ============DESIGN CONTACT============ */

#contact {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.contact h2 {
    color: var(--th--text-color);
    font-size: 2rem;
    text-align: center;
}

/* off re-size */
.contact form textarea {
    resize: none; 
}

.contact form {
    text-align: center;
    margin: 1rem auto;
    max-width: 70rem;
}

.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box input,
.contact form textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-alt-color);
    border-radius: .2rem;
    margin: .4rem 0;
}

.input-box input {
    width: 49%;
}

/* custom btn #contact */
.contact-btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--nd-bg-color);
    border-radius: 4rem;
    font-size: 1rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: .6s ease;
}

.contact-btn:hover{
    box-shadow: 0 0 1rem var(--nd-bg-color);
    
}


/* ============DESIGN FOOTER============ */
#footer{
    width: 100%;
    height: 10%;
    background-color: var(--bg-alt-color);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social {
    text-align: center;
}

.footer-social a{
    font-size: 1.5rem;
    color: var(--nd-text-color)
}
.footer-social h3 {
    font-size: 1rem;
    color: var(--bg-color);
}

.btn-footer {
    position: absolute;
    margin: 0;
    right: 50px;
    font-size: 2rem;
    text-align: center;
}

.btn-footer a {
    color: var(--th--text-color);
}